{
  "gemini": {
    "key": "YOUR_GEMINI_API_KEY_HERE"
  },
  "gpt_internal": {
    "username": "YOUR_GPT_INTERNAL_USERNAME_HERE",
    "password": "YOUR_GPT_INTERNAL_PASSWORD_HERE"
  },
  "aws_bedrock": {
    "service_name": "bedrock-runtime",
    "region_name": "us-east-1",
    "aws_access_key_id": "YOUR_AWS_ACCESS_KEY_ID_HERE",
    "aws_secret_access_key": "YOUR_AWS_SECRET_ACCESS_KEY_HERE",
    "aws_session_token": "YOUR_AWS_SESSION_TOKEN_HERE"
  }
}
